[Desktop Entry]
Exec=/home/lucas/Documentos/scripts/taskbar_disk_monitor.sh
Icon=dialog-scripts
Name=taskbar_disk_monitor.sh
Path=
Type=Application
X-KDE-AutostartScript=true
