[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Genymotion
GenericName=Android Emulator
GenericName[fr]=Emulateur Android
Icon=/mnt/dados/Downloads/1/genymotion/icons/genymotion-logo.png
Exec=/mnt/dados/Downloads/1/genymotion/genymotion
Categories=Development;Emulator;
