[Desktop Entry]
Comment[pt_BR]=
Comment=
Exec=WINEPREFIX=/mnt/archlinux/Games/Need\\ for\\ Speed\\ Most\\ Wanted\\ Black\\ Edition/prefixo MANGOHUD_CONFIG=fps_only mangohud --dlsym /opt/wine-tkg-staging-fsync-git-opt/bin/wine speed.exe -mod
GenericName[pt_BR]=
GenericName=
Icon=/mnt/archlinux/Games/Need for Speed Most Wanted Black Edition/NFSMW_icon.ico
MimeType=
Name[pt_BR]=Need for Speed: Most Wanted\n
Name=Need for Speed: Most Wanted\n
NoDisplay=false
Path=/mnt/archlinux/Games/Need for Speed Most Wanted Black Edition
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
